@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  padding-top: 86px;
  overflow-x: hidden;
}

.row-header {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.jumbotron {
  padding: 40px 20px;
}

.homeContainer {
  font-family: 'Acme', sans-serif;
}

.footer {
  background-color: rgba(108, 117, 125, 1);
  font-family: 'Acme', sans-serif;
  padding: 20px;
  margin-top: 50px;
}

.footer-link {
  color: floralwhite;
}

.cube-face {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(0,0,0,0.8);
  padding: 5px;

  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0.8;
}

.grid-item {
  border: 2px solid rgba(0,0,0,0.8);
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  text-align: center;
}

.cube-div {
  position: relative;
  background-color: #a6a6a6aa;
  padding: 15px;
  border: 2px ridge #a6a6a6;
  border-radius: 20px;
}

.scene {
  display: block;
  left: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  perspective: 600px;
}

.cube {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  width: inherit;
  height: inherit;
  position: relative;

  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg);
}

.cube-div label {
  font-family: 'Solway', serif;
  cursor: pointer;
  margin: 0 5px;
}

.cube-face-front {
  transform: translate3d(0, 0, 75px);
}

.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 75px);
}

.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
}

.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}

.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
}

.cube-back {
  transform: rotateY(180deg);
}

.cube-left {
  transform: rotateY(90deg);
}

.cube-right {
  transform: rotateY(-90deg);
}

.cube-top {
  transform: rotateX(-90deg);
}

.cube-bottom {
  transform: rotateX(90deg);
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  /* cursor: pointer; */
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-container input ~ label {
  color: rgba(0, 0, 0, 0.6);
}

/* .radio-container input:checked ~ span, .radio-container input:checked ~ label {
  color: seagreen;
} */

#radio-front:checked ~ label{
  color: rgba(2, 164, 211, 0.6);
  text-shadow: 0 1px 1px #232323;
}

#radio-back:checked ~ label {
  color: rgba(26, 179, 133, 0.6);
  text-shadow: 0 1px 1px #232323;
}

#radio-left:checked ~ label {
  color: rgba(255, 53, 94, 0.6);
  text-shadow: 0 1px 1px #232323;
}

#radio-right:checked ~ label {
  color: rgba(255, 127, 73, 0.6);
  text-shadow: 0 1px 1px #232323;
}

#radio-top:checked ~ label {
  color: rgba(255, 219, 0, 0.6);
  text-shadow: 0 1px 1px #232323;
}

#radio-bottom:checked ~ label {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 1px 1px #232323;
}

.card-container {
  color: white;
  position: relative;
  width: 350px;
  min-height: 500px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #393e46;
  border: 2px solid #00adb5;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 0 #232323;
  margin: 25px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}

.custom-card-title {
  display: block;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 20px;
  text-shadow: 0 0 20px #00adb5;
}

.card-img-div {
  position: relative;
  width: 95%;
  height: 300px;
  display: block;
  margin:  10px auto;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 1px 5px white;
}

.badge-container {
  text-align: right;
  display: block;
  margin: 10px auto;
  width: 95%;
}

.description-div {
  width: 95%;
  margin: 10px auto;
  margin-top: 20px;
  display: block;
  text-align: center;
}

.custom-card-img {
  border-radius: 10px;
}