@import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  margin: 0;
  padding: 0;
  /*overflow-x: hidden;*/
}
body {
  padding-top: 66px;
  overflow-x: hidden;
}

:root{
  --main-col: #051923;
  --dark-col: #1b262c;
  --dark-col-2: #0B3950;
  --dark-col-3: #24536a;
  --sec-col: #1282A2;
  --sec-col-2: #0f4c75;
  --ter-col: #93b5c6;
  --light-col: #c7e2b2;
  --light-col-2: #e1ffc2;
  --light-col-3: #89c9b8;
  --light-col-4: #eeeeee;
}

/**
pallete:
1b262c
0f4c75
3282b8
bbe1fa
**/

.bg-dark{
  background-color: var(--dark-col)!important;
}

.bg-secondary{
  background-color: var(--dark-col)!important;
}

.row-header {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.nav-brand-header {
  color: rgb(3, 152, 158)!important;
  font-family: 'Orbitron', sans-serif;  
}
.nav-brand-header img {
  height: 40px;
  width: auto;
  transition: all 1s;
}
.nav-brand-header:hover img{
  transform: scale(1.5);
}

.jumbotron {
  padding: 40px 20px;
  z-index: -1;
  border-radius: 0 0 20px 20px;
}

.main-font {
  font-family: 'Orbitron', sans-serif;
}

/* .home-cube .canvas-capsule .canvasDiv {
  box-shadow: 5px 5px 10px 0 black;
} */


.footer {
  background-color: var(--dark-col);
  font-family: 'Acme', sans-serif;
  padding: 20px;
  margin-top: 50px;
  color: #F3ffb9;
}

.footer-link {
  color: floralwhite;
}

.cube-face {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(0,0,0,0.8);
  padding: 5px;

  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0.9;
}

.grid-item {
  border: 2px solid rgba(0,0,0,0.8);
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  text-align: center;
}

.cube-div {
  position: relative;
  background-color: transparent;
  padding: 15px;
  padding-bottom: 3em;
  /* border: 1px solid var(--dark-col);
  border-radius: 20px; */
  /* box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.7); */
}

.scene {
  display: block;
  left: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  perspective: 600px;
}

.cube {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  width: inherit;
  height: inherit;
  position: relative;

  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg);
}

.cube-head h2 {
  text-decoration: none!important;
  font-family: 'Acme', sans-serif;
}

.cube-div label {
  font-family: 'Solway', serif;
  cursor: pointer;
  margin: 0 5px;
}

.cube-face-front {
  transform: translate3d(0, 0, 75px);
}

.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 75px);
}

.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
}

.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}

.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}

.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
}

.cube-back {
  transform: rotateY(180deg);
}

.cube-left {
  transform: rotateY(90deg);
}

.cube-right {
  transform: rotateY(-90deg);
}

.cube-top {
  transform: rotateX(-90deg);
}

.cube-bottom {
  transform: rotateX(90deg);
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  /* cursor: pointer; */
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-container input ~ label {
  color: rgba(0, 0, 0, 0.6);
}

/* .radio-container input:checked ~ span, .radio-container input:checked ~ label {
  color: seagreen;
} */

.btn {
  border: 1px solid black;
  transition: background-color 0.5s;
  color: white;
}
.btn:hover{
  transition: background-color 0.5s;
  color: white;
}

.button-front {
  background-color: rgba(2, 164, 211, 0.8);
}
.button-front:hover {
  background-color: rgb(2, 164, 211);;
}
.button-front:active {
  background-color: rgb(2, 164, 211);
  border: 1px solid blue;
}

.button-back {
  background-color: rgba(25, 179, 133, 0.8);
}
.button-back:hover {
  background-color: rgba(25, 179, 133, 1);
}
.button-back:active {
  background-color: rgb(25, 179, 133);
  border: 1px solid green;
}

.button-left {
  background-color: rgba(255, 53, 94, 0.8);
}
.button-left:hover {
  background-color: rgba(255, 53, 94, 1);
}
.button-left:active {
  background-color: rgb(255, 53, 94);
  border: 1px solid red;
}

.button-right {
  background-color: rgba(255, 127, 73, 0.8);
}
.button-right:hover {
  background-color: rgba(255, 127, 73, 1);
}
.button-right:active {
  background-color: rgb(255, 127, 73);
  border: 1px solid orange;
}

.button-top {
  background-color: rgba(255, 219, 0, 0.8);
}
.button-top:hover {
  background-color: rgba(255, 219, 0, 1);
}
.button-top:active {
  background-color: rgb(255, 219, 0);
  border: 1px solid yellow;
}

.button-bottom, .button-top.inverted-top-bottom {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.6);
}
.button-bottom:hover, .button-top.inverted-top-bottom:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
.button-bottom:active, .button-top.inverted-top-bottom:active {
  background-color: white;
  color: black;
  border: 1px solid floralwhite;
}

.button-bottom.inverted-top-bottom {
  background-color: rgba(255, 219, 0, 0.8);
  color: white;
}
.button-bottom.inverted-top-bottom:hover {
  background-color: rgba(255, 219, 0, 1);
  color: white;
}
.button-bottom.inverted-top-bottom:active {
  background-color: rgb(255, 219, 0);
  border: 1px solid yellow;
  color: white;
}

/** Home Card **/
.home-card {
  position: relative;
  height: 500px;
  width: 300px;
  padding: 0;
  background-color: transparent;
}
.home-card::before{
  display: block;
  position: absolute;
  width: 160px;
  height: inherit;
  content:'';
  right: 0;
  top: 0;
  background-color: var(--main-col);
  border-left: none;
  /* filter: url(#wavy); */
  z-index: -1;
  box-shadow: 2px 2px 5px 0 black;
}
.home-card::after{
  display: block;
  position: absolute;
  width: 160px;
  height: inherit;
  content:'';
  left: 0;
  top: 0;
  background-color: var(--dark-col);
  border-right: none;
  /* filter: url(#wavy); */
  z-index: -1;
  box-shadow: 2px 2px 5px 0 black;
}

.home-card-img {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: auto;
  padding: 10px;
}
.home-card-img::before {
  content: '';
  display: block;
  position: absolute;
  min-height: 250px;
  z-index: 0;
  width: 280px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #c7e2b2aa;
  /* filter: url(#wavy); */
}
.home-card-img img {
  width: 250px;
  min-height: 250px;
  height: auto;
  z-index: 1;
}

.home-title-div {
  height: 100px;
  width: inherit;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-svg {
  display: none;
}

.my-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  width: 180px;
  height: 60px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: capitalize; 
}
.my-btn:hover{
  text-decoration: none;
  color: white;
}
.my-btn:active{
  outline: none;
  border:none;
  text-decoration: none;
}
.my-btn:focus{
  outline:none;
  text-decoration: none;
  border:none;
}

.my-btn svg, .my-btn svg rect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.my-btn svg rect {
  stroke: #fff;
  stroke-width: 10;
  transition: 1.5s;
  stroke-dasharray: 50 540;
  stroke-dashoffset: -304;
}

.my-btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 760;
  stroke-dashoffset: 0;
}

/**Card Styles**/

.card-container {
  color: white;
  position: relative;
  width: 350px;
  min-height: 500px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark-col);
  border: 2px solid #00adb5;
  border-radius: 20px;
  box-shadow: 10px 10px 15px 0 #232323;
  margin: 25px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}

.custom-card-title {
  display: block;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 20px;
  text-shadow: 0 0 20px #00adb5;
}

.card-img-div {
  position: relative;
  width: 95%;
  height: 300px;
  display: block;
  margin:  10px auto;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 1px 5px white;
}

.badge-container {
  text-align: right;
  display: block;
  margin: 10px auto;
  width: 95%;
}

.description-div {
  width: 95%;
  margin: 10px auto;
  margin-top: 20px;
  display: block;
  text-align: center;
}

.custom-card-img {
  border-radius: 10px;
}

/** Contact **/
.btn-email {
  background-color: var(--dark-col-2);
  color: white;
}

.scene-form {
  display: block;
  margin: 20px;
  width: 300px!important;
  height: 300px;
  perspective: 1000px;
}

.cube-form {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  width: inherit;
  height: inherit;
  position: relative;
  font-family: 'Rowdies', cursive;

  transform-style: preserve-3d;
}

.form-face {
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-col);
  border: 1px ridge var(--main-col);
  color: var(--light-col);
  box-shadow: 5px 5px 10px 2px grey;
}

.form-label {
  z-index: 2;
  color: var(--light-col);
  font-size: 2em;
}

.form-input {
  z-index: 2;
  border: none;
  width: 250px;
  border: 1px solid var(--main-col);
  transition: all 1s ease-in;
  padding: 5px 10px;
  background-color: var(--light-col);
  box-shadow: 1px 1px 1px 0 var(--main-col);
  color: var(--main-col);
}
.form-input:focus {
  box-shadow: 
    1px 1px 1px rgba(199, 226, 178, 0.5),
    2px 2px 2px rgba(199, 226, 178, 0.5),
    3px 3px 3px rgba(199, 226, 178, 0.5),
    4px 4px 4px rgba(199, 226, 178, 0.5),
    5px 5px 5px rgba(199, 226, 178, 0.5);
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
  outline: none;
}

.form-front {
  transform: translate3d(0, 0, 150px);
}

.form-right {
  transform: rotateY(90deg) translate3d(0, 0, 150px);
}

.form-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 150px);
  background-color: var(--dark-col);
  color: var(--light-col);
}

.form-button-div {
  width: 80%;
}
.form-button-div button, .form-button-div input {
  color: var(--light-col);
  background-color: var(--dark-col)!important;
}
.form-button-div button:hover, .form-button-div input:hover{
  background-color: var(--light-col)!important;
  color: var(--dark-col);
}

.form-btn-next {
  float: right;
}
.form-btn-prev {
  float: left;
}

.err-label {
  color: red;
  font-size: 0.6em;
}

textarea{
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--light-col-3) var(--dark-col);
}
textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  background-color: var(--light-col-3);
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: var(--dark-col);
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-col);
}

/** Cube Three **/
.cube-three-margin {
  margin-bottom: 4em;
}

.three-cube-next-label {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.three-cube-next-label::before{
  content: 'Current Move';
  display: block;
  font-weight: normal;
}

.three-cube-label {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.canvas-capsule {
  margin-bottom: 50px;
  overflow: hidden;
}
.canvasDiv {
  position: relative;
  z-index: 1;
}
.gui-div {
  width: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 20px;
  z-index: 2;
  /* min-height: 80px; */
}

.dg.main .close-button.close-bottom {
  position: relative!important;
}

/**Beginner**/
.beginner-main-div {
  display: flex;
  position: relative;
}

.beginner-nav-btn{
  display: none;
  color: var(--light-col);
}

.beginner-div {
  font-family: 'Lato', sans-serif;
}

.beginner-div h2 {
  text-decoration: underline double;
}

.beginner-div h3 {
  text-decoration: underline;
}

.beginner-div h5 {
  text-decoration: underline;
  font-weight: bolder;
}

.next-nav-button {
  margin-left: auto;
  margin-right: 2em;
}

.prev-nav-button {
  margin-left: 2em;
}

.dual-btn-container{
  width: auto;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}
.dual-color-btn{
  display: flex;
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  box-shadow:0px 6px 6px 0px rgba(0,0,0,0.15);
  background-color: rgba(255,255,255,.05);
  transition: all .3s;
}
.dual-color-btn:hover{  
  transform: scale(1.05);
  text-decoration: none;
  color: white;
}
.dual-color-blue{
  /* background: linear-gradient(to right, #3a5aff 50%, #2b4dff 50%); */
  /* background: linear-gradient(135deg, var(--dark-col-2) 50%, var(--dark-col-3) 50%); */
  background-color: var(--dark-col);
}

.shine-hope-anim:after{ 
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
  animation: ShineAnim 5s ease infinite;
  animation-delay: 1s;
}
@keyframes ShineAnim{
  0%{left: -100%}
  10%{left: 100%}
  100%{left: 100%}
}

/**Beginner Nav**/
.aside-div{
  padding-left: 15px;
  margin-right: 30px;
  background-color: var(--dark-col);
  padding-top: 20px;
  color: var(--light-col-2);
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--dark-col);
  border-left: none;
  height: calc(100vh - 86px);
  top: 66px;
  position: sticky;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--light-col-3) var(--dark-col);
}
.aside-div::-webkit-scrollbar {
  width: 8px;
}
.aside-div::-webkit-scrollbar-track {
  background-color: var(--dark-col);
  border-radius: 10px;
}
.aside-div::-webkit-scrollbar-thumb {
  background-color: var(--light-col-3);
  border-radius: 10px;
}

.aside-div h5{
  font-weight: bold;
}
.aside-div .nav-link {
  color: var(--light-col-3);
}
.aside-div .nav-link.sub-link{
  color: var(--sec-col);
}

.begin-nav-link {
  border: none;
  background-color: transparent;
  outline: none;
}
.begin-nav-link:focus{
  border: none;
  outline: none;
}
.begin-nav-link:active{
  border: none;
  outline: none;
}

.begin-nav-link ~ div {
  padding-left: 40px;
  transform: scaleY(0);
  overflow: hidden;
  height: 0;
  transition: transform 0.5s;
}

.begin-nav-link.expanded ~ div {
  transform: scaleY(1);
  height: auto;
  transition: transform 0.5s;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  .beginner-main-div{
    flex-direction: column;
  }
  .aside-div{
    position: relative;
    height: auto;
    top: 0;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  .aside-div-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .beginner-div {
    width: 100%;
  }

  .beginner-nav-btn{
    display: inline-block;
  }

  .aside-div aside{
    display: none;
  }
  .aside-div .expand {
    display: block;
  }
  .aside-div .expand h5 {
    text-align: center;
  }
  .aside-div .expand nav a, .aside-div .expand nav button {
    width: 100%;
    margin-left: 0.7em;
    text-align: left;
  }
}

@media screen and (max-width: 450px) {
  .dual-btn-container {
    width: 100%;
  }
  .dual-btn-container{
    width: 100%;
  }

  .next-nav-button {
    margin: 20px auto;
  }
  .prev-nav-button {
    margin: 20px auto;
  }
}

@media screen and (max-width: 380px) {
  .no-display-380 {
    display: none;
  }
}

/* Algoritms */
.tab-space {
  letter-spacing: 1em;
}
.tab-space-clear {
  letter-spacing: normal;
}